# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=nutrigo_rust_user
DB_PASSWORD=nutrigorust
DB_NAME=nutrigo_rust
DB_MAX_CONNECTIONS=5

# Server Configuration
SERVER_HOST=127.0.0.1
SERVER_PORT=8080

# Logging Configuration
LOG_LEVEL=debug
LOG_FILE=logs/app.log

# Application Configuration
CONFIG_PATH=config.toml
RUST_LOG=debug
